---
title: Our Story
description:
---

<p>We are a small vineyard located between Newmarket and Bury st Edmunds in the village of Wickhambrook.  The vineyard began in 2012 when we planted 300 Pinot Noir vines, we now have 1000 vines; 500 Pinot and 500 Bacchus.  All are individually tended to by hand.  Now the vines are established we are producing a fantastic Rose which in 2017 won a bronze medal in the East Anglian Wine Awards.</p>
<p>
If you are interested in purchasing our wine or visiting the vineyard for a tasting, please contact us using the details above.</p>
<!--
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul> -->
