---
title: Coopers Croft Vineyard
description: A wine from Suffolk
---
<section class="intro">
	<div class="text-container">
		<div class="title">
			<h1 class="editable"><strong>Coopers Croft Vineyard</strong></h1>
			<h2 class="subtext editable"><i>Wines of Suffolk</i></h2>
		</div>
		<div class="cta button alt"><a href="{{ site.baseurl }}/ourstory/">Our Story</a></div>
		<div class="cta button alt"><a href="{{ site.baseurl }}/ourwines/">Our Wines</a></div>
	</div>
</section>

<div class="content">
	<section>
		<div class="welcome flex">
			<div class="text editable">
			<!--	<h2><strong>Welcome</strong></h2> -->
				<p>We are a small vineyard located between Newmarket and Bury St Edmunds in the village of Wickhambrook.
					The vineyard began in 2012 when we planted 300 Pinot Noir vines, we now have 1000 vines; 500 Pinot and 500 Bacchus.
					 All are individually tended to by hand.  Now the vines are established we are producing a fantastic Rose which in 2017 won a bronze medal in the East Anglian Wine Awards.
				 </p>
					 <p><b>find us on Facebook</b></p>
					 {% for column in site.data.social %}
					 <ul class="social-links">
						 {% for link in column.social-links %}
							 <li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
								 {% if link.social_icon %}
									 {% include social-icon.html icon=link.social_icon %}
								 {% endif %}
								 </a></li>
						 {% endfor %}
					 </ul>
					 {% endfor %}
			</div>
		</div>
	</section>

	<section class="subscribe">
		<div class="row homepage-container">
				<div class="column text editable">
					<h2>Join our mailing list</h2>
					<p>Sign up to recieve the latest news about our Vineyard and Wines</p>
				<div class="cta button alt"><a href="">Subscribe</a></div>
			</div>
			<div class="column homepage-image1">
				<img src="{{ site.baseurl }}/images/wine-sunset.jpg" alt="Wine" class="editable right">
			</div>
		</div>
	</section>

	<section class="visit">
		<div class="row homepage-container">
			<div class="column homepage-image1">
				<img src="{{ site.baseurl }}/images/grapes.jpg" alt="Grapes" class="editable left">
			</div>
			<div class="column text editable">
				<h2>Interested in visiting?</h2>
				<p>Simply get in touch and we would be happy to show you around our Suffolk vineyard</p>
				<div class="cta button alt"><a href="{{ site.baseurl }}/tours/">Find out More</a></div>
			</div>
		</div>
	</section>



	<section class="bottom-cta">
		<h2>If you would like to purchase our wines you can now buy online</h2>
		<div class="cta button alt"><a href="{{ site.baseurl }}/ourwines/">Order Here</a></div>
		<div class="testimonial">
			<h2>Some Feedback from the Latest Vintage...</h2>
			<div class="container flex">
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">Superb white wine, very pleased with the purchase and couldn’t ask for a nicer family to support!</p>
						<p class="editable author">Customer - <i>Facebook Review</i></p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">Just tasted the new white wine & it is absolutely spectacular!</p>
						<p class="editable author">Customer - <i>Facebook Review</i></p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">So helpful when ordering the wine and prompt delivery . Wine itself is superb , the white is very easy drinking and light</p>
						<p class="editable author">Customer - <i>Facebook Review</i></p>
					</blockquote>
				</div>
			</div>
		</div>
	</section>
	</div>
