---
title: Our Story
description:
---

<!--
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul> -->

<div class="our-story">
  <p>We are a small, family-run vineyard perched on top of one of Suffolk’s highest hills, between Newmarket and Bury St Edmunds.</p>
  <p>
  Our story officially began in 2012 when we planted 300 pinot noir vines on our lovely site (we now have 1200, and counting), but really our love of wine goes way back. Nick, our founder and producer, remembers the days of his father making wine from hedgerow fruits: elderflower, elderberry — even parsnip! The 1976 vintage was particularly impressive.
  </p>

  <p>
  With a few good tasting sessions whetting the palette along the way, and a summer tour of the Rhône valley’s chateaus in 2002, Nick finally got his hand on some vines the following year. Two in fact. He proceeded to tend them lovingly in the back garden of his townhouse, producing a ‘first vintage’ in 2005 using a potato masher to crush the grapes. You can still find the two vines in our vineyard today!
  </p>

  <p>
  So how did we go from back garden to medal-winning wines?
  </p>

  <p>
  Well, we searched long and hard for the perfect place to raise a family. And after two long years we finally found Coopers Croft: a charming house with, more importantly, five-acres of south-facing slope — land just begging for a vineyard!
  </p>

  <p>
  With some of our vines now approaching the best part of a decade (and with three children now in the mix!), our wines are just getting better and better. Our exquisite White Wine recieved a silver award in 2018 and our Rosé won best in the region the same year, and we’re not settling there.
  <p>

  <p>
  We’re passionate about making great tasting wines. And we would love to share it with you.
  </p>
  <br>
  <p><i>If you would like to know more about how we started a vineyard in Suffolk, head over to our <a href="{{ site.baseurl }}/blog/">Blog.</a></i></p>
  <img src="{{ site.baseurl }}/images/CoopersCroft-Pinot.jpg" alt="pinot">
</div>
