.custom-button a {
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	background: $brand-color;
	border-radius: 3px;
	border: 1px solid rgba(255,255,255,.5);
	transition: .2s ease-in-out;
	margin: 10px;
  text-align: center;
}

.custom-button a:hover {
	border: 1px solid #fff;
	background: #026634;
	cursor: pointer;
}

.cta.button.alt a {
	background: #026634;
	border-radius: 5px;
	border: 1px solid rgba(2,102,52, 0.9);
	padding: 16px 50px;
}

.cta.button.alt a:hover {
	background: rgba(2,102,52,0.8);
	color: $brand-color;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
