.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}





@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}



.testimonial {
	margin: 0;
	padding: 100px 0;

	h1 {
		text-align: left;
		padding: 10px;
		margin-bottom: 15px;
		font-size: 16px;
	}
	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		p {
			color: #fff;
		}

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}
