
.tours {
  text-align: center;
  padding: 30px;
  * {
  box-sizing: border-box;
  }

  .column {
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

.tours:after {
  content: "";
  display: table;
  clear: both;
}

.tour-image {
  height: 200px;
  width: auto;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    display: block;
    width: 100%;
  }
}
