.tours {
  text-align: center;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour-image {
  width: auto;
  height: 80vw;
  margin: 10px;
  background-image: url('../images/tour.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
