.tours .container {
  display: flex;
  padding: 30px;
  border-top: 3px solid #664D5E;

  .column {
    flex: 1;
    padding: 20px;
    margin-top: 25px;

    img {
      border-radius: 4px;
      padding: 5px;
      height: auto;
      width: 100%;
    }
  }
    @media screen and (max-width: 900px) {
    .container {
      flex-direction: column;
      width: 100%;
    }
  }

  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
